*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Gilroy;
}


html,body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: red;  */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 30px;
}

#nav h4 {
    font-size: 20px;
    font-weight: 600;
}

#nav i {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    border-radius: 50px;
}

#center{
    /* height: 70%; */
    width: 100%;
    /* background: red; */
    padding: 40px 80px;
}

#center h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 90px;
}

#center-in{
    height: 200px;
    /* background-color: red; */
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#center-in p {
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}
#right{
    width: 20%;
}

.elem{
    /* background-color: green; */
    /* margin: 5px; */
    padding: 20px 0;
    /* width: 20%; */
    /* padding: 18px 0; */
    border-top: 2px solid #000;
}

.elem a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}